.profile-page-header {
    font-style: normal;
}

.profile-page-star {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: inline-block;
}

.profile-page-center-star {
    display: inline-block;
    vertical-align: middle;
    clear: both;
}


/****** Style Star Rating Widget *****/

.profile-page-rating {
    border: none;
}

.profile-page-rating>input {
    display: none;
}

.profile-page-rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
    font-size: 40px;
}

.profile-page-rating>.half:before {
    content: "\f089";
    font-size: 40px;
    position: absolute;
}

.profile-page-rating>label {
    color: #ddd;
    float: right;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.profile-page-rating>input:checked~label,
/* show gold star when clicked */

.profile-page-rating:not(:checked)>label:hover,
/* hover current star */

.profile-page-rating:not(:checked)>label:hover~label {
    color: #FFD700;
}


/* hover previous stars in list */

.profile-page-rating>input:checked+label:hover,
/* hover current star when changing rating */

.profile-page-rating>input:checked~label:hover, .profile-page-rating>label:hover~input:checked~label,
/* lighten current selection */

.profile-page-rating>input:checked~label:hover~label {
    color: #FFED85;
}
