.student-page-filter-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    box-shadow: 0 2px 34px -4px rgba(0,0,0,.7);
    font-size: 13px;
    font-weight: 700;
    background-color: #fff;
}

.filter-bar-college {
    width: 50%;
    display: inline-block;
    position: absolute;
}

.filter-bar-year {
    left: 50%;
    width: 50%;
    display: inline-block;
    position: absolute;
}

.student-page-filter-bar-btn {
    display: block;
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 0px;
}
