.profile-picture {
    margin-top: 15px;
    text-align: center;
}

.profile-picture>button {
    margin-top: 5px;
    width: 100%;
}

.size-of-dp {
    width: 10em;
    height: 9em;
}

.student-name {
    padding: 0px;
    font-size: 16px;
}
