.Student_Info {
  display: inline-block;
}
.name{
    color:gray;
    font-weight: bold;
}
sup{
    margin: 2px;
}
span{
    margin-left:7px; 
}
.size{
    font-size: 15px;
    font:bold;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
}
